* {
  margin: 0;
}

/* body {

} */
.back{
  float: left;
}

.earn-statement{
  text-align: center;
  
}

.start-btn{
  /* font-size: 2vw; */
}

.earn-dollars{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* text-align: center;
  font-size: 10vw; */
}
.inner-earn-dollars{
  text-align: center;
  font-size: 8vw;
}

.full-head{
  display: flex;
  margin-left: auto;
  flex-direction: column;

}

.loc-btn{
  float: right;
  /* position: relative; */
  width: 13vw;
  height: 7vh;
  display: inline;
}

.stitle{
  display: inline;

}

#map{
  width: 100%;
  height: 70vh;
}

#estimator-div{
  display: none;
  width: 100%;

} 

#locator-div{
  display: none;
  width: 100%;
}
.translate{

}

.mobile-search{
  display: none;
}

#select-language-div{
  display: none;
  width: 100%;
}

#selection-div{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#map-div{
  height: 100%;
  width: 60%;
  float: right;
}
#search-div{
  height: 100%;
  width: 40%;
  float: left;
}

#logo{
  width: 10vw;
  height: auto;

}

.header-wrapper{
  display: flex; /* or inline-flex */
  flex-direction: row;
}



/* Search */
.search-input{
  width: 95%;
  display: inline;
  margin: auto;
  text-align: center;
}

.form-inline{
  text-align: center;
}

.search-btn{
}


@media only screen and (max-width: 600px) {
  #logo{
    width: 30vw;
    height: auto;
  
  }
}



.question{
  text-align: center;
  height: 80vh;
}

.currency {
  padding-left:12px;
  width: 40%;

}

.currency-symbol {
  position:absolute;
  padding: 2px 5px;
  margin-top: 1px;
}


.question .card{

}

.question .card .card-header{

  padding: 20px;

}
.main-cost{
  padding: 10px;
}


.util-opt{
  width: 100%;

}

.top-header{
  /* display: inline; */
  /* display: inline-block; */
}

#google_translate_element{
  /* width: 50%; */
  /* display: inline-block; */

}
#logo-img{
    /* width: 50%; */
    /* display: inline-block; */

} 


.lang-btn{
  margin: 10px;
}



/* @media only screen and (max-width: 600px) {



} */


/* The Modal (background) */
.tmodal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}