* {
  margin: 0;
}

/* body {

} */


.earn-statement{
  text-align: center;
  
}

.start-btn{
  font-size: 2vw;
}

.earn-dollars{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* text-align: center;
  font-size: 10vw; */
}
.inner-earn-dollars{
  text-align: center;
  font-size: 10vw;
}