* {
  margin: 0;
}

/* body {

} */


.earn-statement{
  text-align: center;
  
}

.start-btn{
  font-size: 2vw;
}

.earn-dollars{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* text-align: center;
  font-size: 10vw; */
}
.inner-earn-dollars{
  text-align: center;
  font-size: 10vw;
}


#map{
  width: 100%;
  height: 70vh;
}

#calculator-div{
  display: none;
} 

#map-div{

}

#logo{
  width: 10vw;
  height: auto;

}

.header-wrapper{
  display: flex; /* or inline-flex */
  flex-direction: row;
}

@media only screen and (max-width: 600px) {
  #logo{
    width: 30vw;
    height: auto;
  
  }
}